
//得到时间格式2018-10-02
function formatDate (date) {
  var year = date.getFullYear()
  var month = date.getMonth() + 1
  var day = date.getDate()
  return [year, month, day].map(formatNumber).join('/')

}
function formatNumber(n) {
  n = n.toString()
  return n[1] ? n : '0' + n
}
var time={
  getTime:function(time){
    var date= time.split(" ")
    var time_result=""
    if (formatDate(getDate())==date[0]) {
      time_result=date[1]
    }else{
      time_result=time
    }
    return time_result
   }
}

 module.exports = {
  formatDate: formatDate,
  getTime:time.getTime
}